body{
    margin: 0;
    padding: 0;
    background-image: url('./assets/18702139_sep09.jpg');
    background-size: 100%;
    font-family: 'Poppins', sans-serif;
}

.todos-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    padding-top: 50px;
    padding-bottom: 20px;
    box-sizing: border-box;
    justify-content: center;
}

.todos-container > div{
    margin: 0 20px;
    border-radius: 1.5rem;

}

/* ! Categories bar */

.categories-bar{
    width: 20%;
    background-color: rgba(255, 255, 255, 1);
    padding: 40px 20px;
    border-radius: 1.5rem;
    box-shadow: 2px 2px 20px 1px rgba(0, 0, 0, 0.2);
    position: relative;
}

.category-item{
    margin: auto;
    margin-bottom: 20px;
    border-radius: 1.5rem;
    padding: 20px 32px;
    font-size: 18px;
    font-weight: 600;
    color: black;
    transition: .3s;
    cursor: pointer;
}

.category-active{
    background-color: rgb(171 84 219);
    color: white;
}

.category-inactive:hover{
    cursor: pointer;
    background-color: rgb(238, 227, 243);

}

/* ! MAIN CONTAINER */

.header-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.5rem;
    align-items: center;
    margin: 30px 0;
}

.active-category-title{
    font-weight: 600;
    padding: 0 20px;
}

.logged-header{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logout-button{
    background-color: rgb(109, 27, 27);
    color: #fff;
    border-radius: 999px;
    height: 40px;
    width: 40px;
    margin-left: 20px;
    cursor: pointer;

}

.logout-button i{
    margin-left: 5px;
    line-height: 40px;
}

.todos-types{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    
}
.todos-type{
    width: 30%;
    background-color: rgba(255, 255, 255, .6);
    font-weight: 500;
    font-size: 1.5rem;
    padding: 20px;
    border-radius: 1.5rem;
    margin: 0 20px;

}
.active-category{
    width: 60%;

}

.add-todo-icon{
    background-color: rgb(171 84 219);
    box-sizing: border-box;
    border-radius: 999px;
    border: 0px;
    font-weight: 100;
    font-size: 35px;
    color: white;
    margin: 0;
    padding: 0;
    cursor: pointer;
    height: 45px;
    width: 45px;
}

.add-todo-icon > i{
    margin: 4px;
}

.todo-item{
    padding: 20px;
    background-color: white;
    margin-top: 20px;
    border-radius: 1.5rem;
    box-shadow: 1px 1px 20px 1px rgba(0, 0, 0, 0.1);
    height: auto;
    transition: height .5s ease-in-out;
    max-height: 500px;
}

.todos-type-header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 23px;
}

.todo-item > textarea{
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    border-style: none;
    resize: none;
    padding: 0;
    width: 100%;
}   

.todo-item > textarea:focus{
    border-style: none;
    outline: none;
}

.input-title{
    font-weight: 600;
    overflow: hidden;
}

.input-description{
    overflow: visible;
}

.bx-left-arrow-alt, .bx-right-arrow-alt{
    color: #888;
}
.bx-left-arrow-alt:hover, .bx-right-arrow-alt:hover{
    background-color: #888;
    color: white;
}
.bx-save{
    color: green;

}
.bx-save:hover{
    background-color: green;
    color: white;
}

.bx-trash{
    color: red;
}
.bx-trash:hover{
    background-color: red;
    color: white;
}


.icons-todo-item{
    width: 100%;
    display: flex;
    justify-content: space-between;
    text-align: right;
    margin-top: 0px;
    box-sizing: border-box;
}

.icons-todo-item > .bx{
    cursor: pointer;
    border-radius: 999px;
    transition: .2s;
    padding: 4px;
}

.todo-item:focus{
    background-color: red;
}


.add-category form{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.add-category form > input{
    transition: .2s;
    border-style: none;
    background-color: transparent;
    font-size: 18px;
    font-weight: 600;
    pointer-events: auto;
    width: 70%;
    color: pink;

}

.add-category form button{
    border: none;
    background-color: transparent;
}
.add-category form button> i{
    font-size: 23px;
    border-radius: 999px;
    transition: .2s;

}


.add-category form > input:hover{
    color: black;
}
.add-category form > input:focus{
    outline: none;
}

